<div id="about" class=""><div class="spacer"></div>
		<div class="no-bg"></div>

		<section class="column visible">
			<h2>About</h2>
			<div class="sep delay-5"></div>
			<p class="info">I specialize in front-end development, and I mostly focus on simplicity,
				ergonomics, responsive design, cross-browser compatibility and SEO-friendly code.
				I am currently working as a freelancer in Washington, DC.
			</p>
			<div class="sep delay-7"></div>
			<div class="clear"></div>

			<div class="dials">
				<div class="dial delay-1"><div></div></div>
				<div class="dial delay-2"><div></div></div>
				<div class="dial delay-3"><div></div></div>
			</div>
		</section>
		<div class="clear"></div>
		<section class="column visible">
			<div class="sep delay-7 .delay(4)"></div>
			<ul class="skills">
			<li class="delay-8"><div><p>HTML5 <br>&amp;<br> CSS3</p></div></li>
			<li class="delay-9"><div><p>jQuery, JS <br>&amp;<br> LESS</p></div></li>
			<li class="delay-12"><div><p>Flash, AS <br>&amp;<br> Illustrator</p></div></li>
			<li class="delay-13"><div><p>Photoshop <br>&amp;<br> 3DS Max</p></div></li>
			<br class="break">
			<li class="delay-10"><div><p>PHP <br>&amp;<br> MySQL</p></div></li>
			<li class="delay-11"><div><p>Ajax, JSON, <br> XML, SOAP</p></div></li>
			<li class="delay-14"><div><p>Bootstrap <br>&amp;<br> WordPress</p></div></li>
			</ul>
		</section>

	</div>