<div id="pages">
  <div id="portfolio" class="page" style="display: block; overflow: auto;">
		<div class="spacer"></div>
		<div class="item bigswordfish normal hoverable" style="overflow: hidden;">		
			<div class="bg"></div>
			<div class="info">
			<h2>Big Sword<span class="break">-<br></span>fish</h2>
			<div class="line"></div>
			<p>A multi-disciplinary agency based in Savannah, GA.</p>
			<button class="viewdetails"><i class="icon-search"> </i>View Details</button>
			<button class="launch" data-url="http://www.deepcorelabs.com/projects/bigswordfish"><i class="icon-external-link"></i> Launch Website</button>
			<button class="scrolldown"><i class="icon-chevron-down"> </i>Scroll Down</button>
			</div>

		</div>
		<div class="item formstudio delay-1 hoverable" style="overflow: hidden;">
			<div class="bg"></div>
			<div class="info">
			<h2>4m Studio</h2>
			<div class="line"></div>
			<p>Web design and marketing studio</p>
			<button class="viewdetails"><i class="icon-search"> </i>View Details</button>
			<button class="scrolldown"><i class="icon-chevron-down"> </i>Scroll Down</button>			
			</div>
			<div class="content">
				<div class="wrapper">
				<!--======================
					4M STUDIO CONTENT
				======================-->

				<p>HTML5 + CSS3 responsive design<span class="line"></span></p>
						
				<p>Custom  3d Slider Graphics<span class="line"></span></p>
			
				<p>One-page website<span class="line"></span></p>
				
				
				<p>Photography and Photoshop<span class="line"></span></p>
				
				
				<p>Icons and jQuery hover effects<span class="line"></span></p>
				
				
				<p>Contact form with Google Maps background<span class="line"></span></p>
			

				</div>
			</div>
		</div>
		<div class="item logosoftheworld delay-2 hoverable" style="overflow: hidden;">
			<div class="bg"></div>
			<div class="info">
			<h2>Logos of<span class="break"><br></span> the World</h2>
			<div class="line"></div>
			<p>A gallery for logos</p>
			<button class="viewdetails"><i class="icon-search"> </i>View Details</button>
			<button class="launch" data-url="http://www.logosoftheworld.org"><i class="icon-external-link"></i> Launch Website</button>
			<button class="scrolldown"><i class="icon-chevron-down"> </i>Scroll Down</button>			
			</div>
			<div class="content">
				<div class="wrapper">
				<!--======================
					LOGOS CONTENT
				=======================-->

				<p>A splash page to collect emails<span class="line"></span></p>
				
				<p>Mailchimp integration<span class="line"></span></p>
			
				</div>
			</div>
		</div>
		<div class="item revoltcms delay-3 hoverable" style="overflow: hidden;">
			<div class="bg"></div>
			<div class="info">
			<h2>Revolt<span class="break"><br></span> CMS</h2>
			<div class="line"></div>
			<p>Simple, User-friendly and Powrful lightweight CMS</p>
			<button class="viewdetails"><i class="icon-search"> </i>View Details</button>
			<button class="launch" data-url="http://www.revoltcms.com"><i class="icon-external-link"></i> Launch Website</button>
			<button class="scrolldown"><i class="icon-chevron-down"> </i>Scroll Down</button>			
			</div>
			<div class="content">
				<div class="wrapper">
				<!--======================
					REVOLT CMS CONTENT
				======================-->

				<p>Twitter's Bootstrap based layout<span class="line"></span></p>
			
				<p>Test the product on the page<span class="line"></span></p>
				
				<p>Revolt CMS allows you to edit content live on the page<span class="line"></span></p>
				
				<p>And upload images and crop custom thumbnails live<span class="line"></span></p>
			
				<p>Easily customizable interface with LESS<span class="line"></span></p>
			

				</div>
			</div>
		</div>

		<div class="item marina hoverable" style="overflow: hidden;">
			<div class="bg"></div>
			<div class="info">
			<h2>Marina Vlaykova</h2>
			<div class="line"></div>
			<p>Photo Model Portfolio (WordPress)</p>
			<button class="launch" data-url="http://www.marinavlaykova.com"><i class="icon-external-link"></i> Launch Website</button>
			<button class="scrolldown"><i class="icon-chevron-down"> </i>Scroll Down</button>			
			</div>
		</div>

		<div class="item saifdesign hoverable" style="overflow: hidden;">
			<div class="bg"></div>
			<div class="info">
			<h2>Saif Design</h2>
			<div class="line"></div>
			<p>Graphic &amp; Web Design Studio based in Brunswick, GA</p>
			<button class="launch" data-url="http://www.mirohristov.com/projects/saif"><i class="icon-external-link"></i> Launch Website</button>
			</div>
		</div>

		<div class="item mirohristov hoverable" style="overflow: hidden;">
			<div class="bg"></div>
			<div class="info">
			<h2>Miro Hristov //ARCHIVE</h2>
			<div class="line"></div>
			<p>My old websites and mock-ups</p>
			<button class="viewdetails"><i class="icon-search"> </i>View Details</button>
			<button class="scrolldown"><i class="icon-chevron-down"> </i>Scroll Down</button>			
			</div>
			<div class="content">
				<div class="wrapper">
				<!--======================
					MIROHRISTOV CONTENT
				======================-->

				<p>A concept for my portfolio. (never released)<span class="line"></span></p>
			
				<p>And another one<span class="line"></span></p>
				
				<p>And yet another one<span class="line"></span></p>
				
				<p>Old portfolio - MiroHristov.com/v3<span class="line"></span></p>
				
				
				<p>Older portfolio - MiroHristov.com/v2<span class="line"></span></p>				
				<div class="chrome"></div>
				
				<p>Oldest portfolio - Flash Version (never released)<span class="line"></span></p>
				<div class="chrome"></div>

				</div>
			</div>
			
		</div>


		<div class="spacer"></div>
 
	</div>
</div>