
@font-face {
  font-family: 'Geomanist';
  src: url('Geomanist-Thin.eot'); /* IE9 Compat Modes */
  src: url('Geomanist-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Geomanist-Thin.woff') format('woff'), /* Modern Browsers */
       url('Geomanist-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Geomanist-Thin.svg#dc9a26cca500b040347ee82b781de72a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: 'Geomanist';
  src: url('Geomanist-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('Geomanist-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Geomanist-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('Geomanist-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Geomanist-ExtraLight.svg#5f8f3eb50ba1d35c02cd251081eb2021') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Geomanist';
  src: url('Geomanist-Light.eot'); /* IE9 Compat Modes */
  src: url('Geomanist-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Geomanist-Light.woff') format('woff'), /* Modern Browsers */
       url('Geomanist-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Geomanist-Light.svg#7f390ab1ed4575c0c535ed9378dd4959') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Geomanist';
  src: url('Geomanist-Regular.eot'); /* IE9 Compat Modes */
  src: url('Geomanist-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Geomanist-Regular.woff') format('woff'), /* Modern Browsers */
       url('Geomanist-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Geomanist-Regular.svg#98f2b05845e99896f66b5267f9b54840') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Geomanist';
  src: url('Geomanist-Book.eot'); /* IE9 Compat Modes */
  src: url('Geomanist-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Geomanist-Book.woff') format('woff'), /* Modern Browsers */
       url('Geomanist-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Geomanist-Book.svg#9bc3bb3e3fd3df276ffd2962ab82504e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Geomanist';
  src: url('Geomanist-Medium.eot'); /* IE9 Compat Modes */
  src: url('Geomanist-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Geomanist-Medium.woff') format('woff'), /* Modern Browsers */
       url('Geomanist-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Geomanist-Medium.svg#730adcd944c85cc60c01bda9f978ca06') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Geomanist';
  src: url('Geomanist-Bold.eot'); /* IE9 Compat Modes */
  src: url('Geomanist-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Geomanist-Bold.woff') format('woff'), /* Modern Browsers */
       url('Geomanist-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Geomanist-Bold.svg#52471c22e7b41994c6b7f2e56e29082b') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Geomanist';
  src: url('Geomanist-Black.eot'); /* IE9 Compat Modes */
  src: url('Geomanist-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Geomanist-Black.woff') format('woff'), /* Modern Browsers */
       url('Geomanist-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Geomanist-Black.svg#a1898fc476260e29a96be7136a798323') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  800;
}

@font-face {
  font-family: 'Geomanist';
  src: url('Geomanist-Ultra.eot'); /* IE9 Compat Modes */
  src: url('Geomanist-Ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Geomanist-Ultra.woff') format('woff'), /* Modern Browsers */
       url('Geomanist-Ultra.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Geomanist-Ultra.svg#0305dc8e93f36aff0cb18390b872a2ba') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  900;
}

